<h1> Hotel </h1>

Cambio formato data

In [ ]:
import pandas as pd
import numpy as np

hotel = pd.read_csv("original/Hotel_Reviews_Choosen.csv")
#porto il formato della data da stringa a datetime
hotel['Review_Date'] = pd.to_datetime(hotel['Review_Date'], errors='coerce')

# Calcola il range delle date
range_date = (hotel['Review_Date'].min(), hotel['Review_Date'].max())
print(range_date)

hotel.head()

#aggiorno con il nuovo formato
hotel.to_csv("cleaned/Hotel_Reviews_Updated.csv", index=False)
#from 2015-08-04 to 2017-08-03

(Timestamp('2015-08-04 00:00:00'), Timestamp('2017-08-03 00:00:00'))

<h1>Musei</h1>

In [ ]:
musei = pd.read_csv("original/Musei.csv")
#musei.head()

#tengo solo i musei relativi ai luoghi che ci interessano 
#aggiungo Vatican City
# Lista di paesi
countries = [
    'Italy', 'Spain', 'Portugal', 'Greece', 'Croatia', 'Albania', 'Andorra', 
    'Bosnia and Herzegovina', 'Gibraltar', 'United Kingdom', 'North Macedonia', 
    'Malta', 'Montenegro', 'San Marino', 'Serbia', 'Slovenia', 'Turkey', 'Vatican City', 'London'
]

#qui negli indirizzi trovo England, Scotland, Wales, Northern Ireland
#aggiungo agli indirizzi che contengono questi paesi 'United Kingdom'
musei['Address'] = musei['Address'].apply(
    lambda x: x + ', United Kingdom' if 'England' in x or 'Scotland' in x or 'Wales' in x or 'Northern Ireland' in x else x
)

countries_regex = '|'.join(countries)
musei_ft = musei[musei['Address'].str.contains(countries_regex, case=False, na=False)].copy()
musei_ft.to_csv("cleaned/Musei_Choosen.csv", index=False)
musei_ft.head()
#musei_ft.info()

,Unnamed: 0,Address,Description,FeatureCount,Fee,Langtitude,Latitude,LengthOfVisit,MuseumName,PhoneNum,Rank,Rating,ReviewCount,TotalThingsToDo
1,1,"Great Russell Street, London WC1B 3DG, England...","A museum of the world, for the world. Discover...",6,No,-0.126853,51.517981,2-3 hours,British Museum,+44 (0)20 7323 8299,1,4.5,"41,295","1,443"
8,8,"Dionysiou Areopagitou 15 | Makriyianni, Athens...","Modern, uptodate building on the foot of the A...",11,Yes,23.729328,37.969416,2-3 hours,Acropolis Museum,30 210 9000900,1,4.5,"18,258",324
11,11,"Calle Ruiz de Alarcon 23, 28014 Madrid, Spain",The Prado has one of the largest art collectio...,13,Yes,-3.691318,40.413584,More than 3 hours,Prado National Museum,902107077,1,4.5,"31,900",705
18,18,"Cromwell Road | South Kensington, London SW7 2...",The world's greatest museum of art and design....,9,No,-0.182833,51.495081,2-3 hours,V&A - Victoria and Albert Museum,020 7942 2000,3,4.5,"18,030","1,443"
20,20,"Chambers Street, Edinburgh EH1 1JF, Scotland, ...","Explore the diversity of the natural world, wo...",14,No,-3.188434,55.947690,More than 3 hours,National Museum of Scotland,443001236789,5,4.5,"10,641",374

<h1>Recensioni musei</h1>

In [13]:
#prendo le reviews relative solo ai musei che ho tenuto

import json

with open('original/review_musei.json', 'r') as f:
    rece = json.load(f)
    
musei_presenti = set(musei_ft['MuseumName'].unique())

recensioni_ft = {k: v for k, v in rece.items() if k in musei_presenti}

# Salvo il JSON filtrato
with open('json/review_museum_ft.json', 'w') as f:
    json.dump(recensioni_ft, f, indent=4, ensure_ascii=False)

print(f"Numero di musei filtrati: {len(recensioni_ft)}")

Numero di musei filtrati: 180

<h1>Monumenti</h1>

In [ ]:
monum = pd.read_csv("original/Monumenti.csv")

#cambio Review_time con Review_Date, con date coerenti al range di date presenti nel dataset hotel

start_date = pd.to_datetime('2015-08-04')  
end_date = pd.to_datetime('2017-08-03')

monum['Review_Date'] = pd.to_datetime(np.random.randint(start_date.value, end_date.value, size=len(monum)), origin='unix', unit='ns')
monum['Review_Date'] = monum['Review_Date'].dt.floor('D')
monum.drop(columns=['ReviewTime'], inplace=True)

monum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129685 entries, 0 to 129684
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Monument     129685 non-null  object
 1   Username     129684 non-null  object
 2   Review       125582 non-null  object
 3   Rating       129685 non-null  object
 4   Review_Date  129685 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 4.9+ MB

In [21]:
#vedo un po' come sono indicati i luoghi
#va bene usare countries anche qui, ho aggiunto Vatican City e London (a volte non Ã¨ indicato uk insieme a Londra)
#unique_monuments = monum['Monument'].unique()

monum_ft = monum[monum['Monument'].str.contains(countries_regex, case=False, na=False)].copy()
monum_ft.to_csv("cleaned/Monumenti_Choosen.csv", index=False)